<h1>Listing nickelclads</h1>

<table>
  <thead>
    <tr>
      <th>Thickness</th>
      <th>Wide</th>
      <th>Length</th>
      <th>To</th>
      <th>Allowance</th>
      <th>Is declicacy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nickelclads.each do |nickelclad| %>
      <tr>
        <td><%= nickelclad.thickness %></td>
        <td><%= nickelclad.wide %></td>
        <td><%= nickelclad.length %></td>
        <td><%= nickelclad.to %></td>
        <td><%= nickelclad.allowance %></td>
        <td><%= nickelclad.is_declicacy %></td>
        <td><%= link_to 'Show', nickelclad %></td>
        <td><%= link_to 'Edit', edit_nickelclad_path(nickelclad) %></td>
        <td><%= link_to 'Destroy', nickelclad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nickelclad', new_nickelclad_path %>
