<p id="notice"><%= notice %></p>

<p>
  <strong>Thickness:</strong>
  <%= @nickelclad.thickness %>
</p>

<p>
  <strong>Wide:</strong>
  <%= @nickelclad.wide %>
</p>

<p>
  <strong>Length:</strong>
  <%= @nickelclad.length %>
</p>

<p>
  <strong>To:</strong>
  <%= @nickelclad.to %>
</p>

<p>
  <strong>Allowance:</strong>
  <%= @nickelclad.allowance %>
</p>

<p>
  <strong>Is declicacy:</strong>
  <%= @nickelclad.is_declicacy %>
</p>

<%= link_to 'Edit', edit_nickelclad_path(@nickelclad) %> |
<%= link_to 'Back', nickelclads_path %>
