  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="25" align="center" valign="bottom" class="td06"><table width="98%" border="0" cellspacing="3" cellpadding="0">
          <tr>
            <td width="15"><img src="<%=image_path('index_32.gif')%>" width="9" height="9"></td>
            <td valign="bottom" class="title">集团架构管理</td>
          </tr>
      </table></td>
    </tr>
  </table>
  <br>
  <%= form_tag('/groups', :class => 'form-horizontal') do -%>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="90" height="24" class="td_form01">名称</td>
        <td class="td_form02">
          <%= text_field_tag 'title', "#{@group.title}", :class => "input"%>
                       <%= hidden_field_tag 'id', "#{@group.id}"%>
        </td>
      </tr>
      <tr>
        <td width="90" height="24" class="td_form01">备注</td>
        <td class="td_form02">
          <%= text_field_tag 'remark', "#{@group.remark}", :class => "input"%>
        </td>
      </tr>
      <tr>
        <td height="24" class="td_form01">所属公司</td>
        <td class="td_form02">
          <select id="manager_id" name="manager_id">
            
            <%@groups.each_with_index do |group, index|%>
              <%if index ==0 and group.title!="大章"%><option value="0">总公司</option><%end%>
              <option value="<%=group.id%>"><%=group.title%></option>
            <%end%>
          </select>
        </td>
      </tr>
    </table>
    <br>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
         <%= submit_tag '提交', :class => 'btn btn-success'%>
         <%= submit_tag '返回', :class => 'btn btn-info'%>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p><br>
    </p>
  <%end -%>