  <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" align="center" valign="bottom" class="td06"><table width="98%" border="0" cellspacing="3" cellpadding="0">
      <tr>
        <td width="15"><img src="<%=image_path('index_32.gif')%>" width="9" height="9"></td>
        <td valign="bottom" class="title">部门列表</td>
        <td valign="bottom" align="right" class="title"><%= link_to "新建部门", "/departments/new"%></td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:fixed">
  <tr> 
    <td nowrap class="td_top">ID</td>
    <td nowrap class="td_top">部门名称</td>
    <td nowrap class="td_top">描述</td>
    <td nowrap class="td_top">操作</td>
  </tr>
  <%@departments.each do|department|%>
    <tr id="list">
      <td class="td_01" id="id"><%=department.id%></td>
      <td class="td_01" id="name"><%=department.name%></td>
      <td class="td_01" id="remark"><%=department.remark%></td>
      
      <td class="td_01">
        <%= link_to '编辑', edit_department_path(department) %>
      </td>
    </tr>
  <%end%>     
</table>
