  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" align="center" valign="bottom" class="td06"><table width="98%" border="0" cellspacing="3" cellpadding="0">
      <tr>
        <td width="15"><img src="<%=image_path('index_32.gif')%>" width="9" height="9"></td>
        <td valign="bottom" class="title">开平组-任务审核列表</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="td_page">
        <%= hidden_field_tag "department", "1"%>
        任务状态：
        <select name="status" id="status">
          <option value="4" <%if @view_params[:status] == 4%>selected<%end%>>待审核</option>
          <option value="5" <%if @view_params[:status] == 5%>selected<%end%>>已审核</option>
        </select>
        
      任务完成时间：
      <input type="date" id="finish_at" class="input" size="10" value="<%=@view_params[:finish_at]%>"/>    
      <input name="search" id="search" type="button" class="buttonface02" value="查询">
    </td>
  </tr>
</table>
<br>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td nowrap class="td_top">#</td>
    <td nowrap class="td_top">材质</td>
    <td nowrap class="td_top">钢卷号</td>
    <td nowrap class="td_top">钢卷规格</td>
     <td nowrap class="td_top">加工规格</td>
     <td nowrap class="td_top">计划张数</td>
     <td nowrap class="td_top">实际张数</td>
     <td nowrap class="td_top">完工日期</td>
     <td nowrap class="td_top">送往单位</td>
     <td nowrap class="td_top">备注</td>
     <td nowrap class="td_top">分包明细</td>
     <td nowrap class="td_top">操作</td>
  </tr>
  <%@plans.each_with_index do|plan,index|%>
    <%if @plans[index-1].tape_merge != @plans[index].tape_merge%>
      <tr><td class="td_01_plan" colspan="13"></td></tr>
    <%end%>
    
    <tr <%if plan.is_urgency == 1%>style="color:red"<%elsif plan.status == 3%>style="color:green"<%end%>> 
      <td class="td_01" id="id" width="3px"><%=plan.id%></td>
      <td class="td_01" id="texture">
        <%=plan.tape.texture%>
      </td>
      <td class="td_01" id="tape_num">
        <%=plan.tape.tape_num%>
      </td>
      <td class="td_01" id="size">
        <%=plan.tape.thickness%>x<%=plan.tape.wide%>x<%=plan.tape.length%>
      </td>
      <td class="td_01" id="new_size">
        <%if index == 0 or (@plans[index-1].nickelclad.length!=plan.nickelclad.length or @plans[index-1].nickelclad.thickness!=plan.nickelclad.thickness or @plans[index-1].nickelclad.wide!=plan.nickelclad.wide)%>

          <%=plan.nickelclad.thickness%>x<%=plan.nickelclad.wide%>x<%=plan.nickelclad.length%>
        <%end%>
      </td>
      <td class="td_01" id="final_sheet">
          <%=plan.final_sheet%>
      </td>
      <td class="td_01" id="real_final_sheet">
          <%=plan.real_final_sheet%>
      </td>

      <td class="td_01" id="finish_at">
        <%=plan.real_finish_at%>
      </td>
      <td class="td_01" id="finish_at"><%=plan.nickelclad.to%></td>
      <td class="td_01" id="remark" style="word-wrap:break-word;"><%=plan.remark%></td>
      <td class="td_01">
            <%plan.nickelclad.bags.each_with_index do|bag, index|%>
              <%=bag.sheet%>
              <%if index != plan.nickelclad.bags.length-1%>
              +
              <%end%>
            <%end%>
          </td>
      <td class="td_01">
        <%if @view_params[:status] == 4%>
           <button type="button" class="btn btn-info btn-xs" data-toggle="modal" onclick="complete_model(<%=plan.id%>, <%=plan.nickelclad.id%>)">计件</button>
          <%=check_box_tag "plan_id", "#{plan.id}"%>
        <%else%>
          <%= link_to '详细', edit_plan_path(plan) %>
        <%end%>
     </td>
    </tr>
  <%end%> 
  <%if @view_params[:status] == 4%> 
    <tr>
      <td colspan="13" align="right"><button id="complete_check" type="button" class="btn btn-success btn-xs">完成审核</button></td>
    <tr>   
  <%end%>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td nowrap width="100%" class="td_top"><span style="color:red">注：红色字体为紧急件-请优先处理【绿色分割条内计划为同一规格钢卷】</span></td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table02" align="center">
  <tr>
    <td height="30" align="right">
      <%= paginate @plans %>
    </td>
  </tr>
</table>

<!--这里是完成modal-->
<div id="complete" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <%= form_tag('/bags', :class => 'form-horizontal', :id=>"plan_complete") do -%>
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">记录开平张数</h4>
        </div>
        <div class="modal-body">
          <%= hidden_field_tag "nickelclad_id", ""%>
          <%= hidden_field_tag "complete_plan_id", ""%>
          <label class="col-sm-3 control-label">张数/板头</label>
          <div class="col-sm-8">
            <%= text_field_tag 'sheet',"", :class => "required"%>如：300*2+100+0.45
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag '继续', :class => 'btn btn-success'%>
          <a href="/plans/check/list/1" class="btn btn-info">返回</a>
        </div>
      </div>
  </div>
  <%end%>
</div>
<!--这里是完成modal end-->

 <script type="text/javascript">
     function complete_plan(){
        var plan_id = $("#complete_plan_id").val();
        var sheet = $("#sheet").val();
        var is_nickelclad_top = $("#is_nickelclad_top").val();
        location.href = "/plans/check/bag/"+plan_id+"?sheet="+sheet+"&is_nickelclad_top="+is_nickelclad_top
        
      }

      function complete_model(plan_id, nickelclad_id){
        $("#nickelclad_id").val(nickelclad_id);
        $("#complete_plan_id").val(plan_id);
        $('#complete').modal('show');
      };
      $("#search").click(function (){
          var status = $('#status').val()
          var first = $('#finish_at').val()
          // alert(first)
          location.href = "/plans/check/list/<%=@view_params[:department]%>?finish_at="+first+"&status="+status;
        });
      $("#complete_check").click(function (){
        var s='';
        var i = 0;
        $('input[name="plan_id"]:checked').each(function(){
          s+=$(this).val()+',';
          i += 1;
        });
        if(i < 1){
          alert("至少选择1条计划");
        }else{
          location.href = "/plans/check/complete/"+s
          // location.href = "/plans/send/message?message="+s+"&employee_id="+employee_id;
        }
        
      });
</script>


