  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="25" align="center" valign="bottom" class="td06"><table width="98%" border="0" cellspacing="3" cellpadding="0">
          <tr>
            <td width="15"><img src="<%=image_path('index_32.gif')%>" width="9" height="9"></td>
            <td valign="bottom" class="title">创建计划</td>
          </tr>
      </table></td>
    </tr>
  </table>
<%= form_tag('/plans', :class => 'form-horizontal', :id => "plan_create") do -%>
    <%= hidden_field_tag "tape_ids", "#{@ids}"%>
    <%= hidden_field_tag "department_id", "#{@department_id}"%>
    <%@tapes.each_with_index do |tape, index|%> 
    <h3>原材料</h3>
    <hr style="border:2px solid blue;">
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="90" height="24" class="td_form01">材质</td>
        <td class="td_form02">
          <%= text_field_tag "texture#{tape.id}","#{tape.texture}", :class => "input required"%>
          <%= hidden_field_tag "plan_id", "#{@plan.id}"%>
        </td>
        <td height="24" class="td_form01">钢卷规格</td>
        <td class="td_form02">
          <%= text_field_tag "size#{tape.id}","#{tape.thickness}*#{tape.wide}*#{tape.length}", :class => "input required"%>
        </td>
        <td width="90" class="td_form01">库位</td>
        <td class="td_form02">
          <%= text_field_tag "place#{tape.id}","#{tape.place}", :class => "input required"%>
        </td>
      </tr>
      <tr>
        <td height="24" class="td_form01">卷重(KG)</td>
        <td class="td_form02">
          <%= text_field_tag "residue_weight#{tape.id}","#{tape.residue_weight}", :class => "input number"%>
        </td>
        <td class="td_form01">重要程度</td>
        <td class="td_form02">
          <select class="input" id="is_urgency" name="is_urgency">
            <option value ="0" <%if @plan.is_urgency == 0%>selected="selected"<%end%>>一般</option>
            <option value ="1" <%if @plan.is_urgency == 1%>selected="selected"<%end%>>紧急</option>
          </select>
        </td>
        <td class="td_form01">是否收卷</td>
        <td class="td_form02">
          <%= radio_button_tag "status#{tape.id}", '1'%> 是
          <%= radio_button_tag "status#{tape.id}", '2', true%> 否
        </td>
      </tr>
      
    </table>
      <span id="<%=tape.id%>" index="1" class="label label-success" onclick="add_children(<%=tape.id%>)">+</span>
    <%= hidden_field_tag "index#{tape.id}", "1"%>
    <h3>成品</h3>
    <hr>
    <div id="chengpin<%=tape.id%>">
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="90" height="24" class="td_form01">规格(厚x宽x长)</td>
          <td class="td_form02">
            <%= text_field_tag "new_size#{tape.id}-1","#{@new_size}", :class => "input required"%>
          </td>
          <td width="90" class="td_form01">加工张数</td>
          <td class="td_form02">
              <%if index == 0 %>
                <%= text_field_tag "final_sheet#{tape.id}-1","", :class => "input"%>
              <%else%>
                <%= text_field_tag "final_sheet#{tape.id}-1","", :class => "input", :readonly => "readonly"%>
              <%end%>
              <%if @tapes.length > 1%>
              <%= hidden_field_tag "tape_merge#{tape.id}-1","#{@tape_merge}", :class => "input"%>
              <%end%>
          </td>
          <td class="td_form01">送往单位</td>
          <td class="td_form02">
            <%= text_field_tag "to#{tape.id}-1", "", :class => "input required"%>
          </td>
        </tr>
        <tr>
          <td height="24" class="td_form01">重要程度</td>
          <td class="td_form02">
            <%= select_tag "is_urgency#{tape.id}-1", "<option selected='selected' value='0'>一般</option><option value='1'>紧急</option>".html_safe, :class => "input"%>
          </td>
          <td height="24" class="td_form01">是否表面件</td>
          <td class="td_form02">
            <%= radio_button_tag "is_declicacy#{tape.id}-1", '1'%> 是
            <%= radio_button_tag "is_declicacy#{tape.id}-1", '0', true%>否
          </td>
          <td class="td_form01">公差</td>
          <td class="td_form02">
            <%= radio_button_tag "allowance#{tape.id}-1", '+0.5'%> +0.5
            <%= radio_button_tag "allowance#{tape.id}-1", '-0.5', true%> -0.5
            <%= radio_button_tag "allowance#{tape.id}-1", '+1', true%> +1
          </td>
        </tr>
        <tr>
          <td height="24" class="td_form01">完工日期</td>
          <td class="td_form02">
            <input type="date" name="finish_at<%=tape.id%>-1" id="finish_at<%=tape.id%>-1" class="input required" />
          </td>
          <td class="td_form01">备注</td>
          <td class="td_form02" colspan="3">
            <%= text_area_tag "remark#{tape.id}-1", "", :class => "input"%>
          </td>
        </tr>
      </table>
    </div>
    <%end -%>
    <br>
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <input name=save  type="submit" class=buttonface value= '  提交  '>        
        <input name="Submit" type="button" class="buttonface" value="取消" onClick="history.back(-1)"></td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p><br>
    </p>
  <%end -%>

  <script type="text/javascript">
  function add_children(tape_id){
    var html = "";    
    var index = parseInt($("#"+tape_id).attr("index"))
    $("#"+tape_id).attr("index", index+1)
    $("#index"+tape_id).val(index+1);
    $.ajax({
          type:"get",
          dataType:"text",
          url: "/plans/search/format_html?tape_id="+tape_id+"&index="+$("#"+tape_id).attr("index"),
          contentType: "application/json; charset=utf-8", 
          success:function(result){
            result = eval("(" + result + ")");
            html = result.html;
            $("#chengpin"+tape_id).append(html);
          }
        });
    
  }
  $().ready(function() { 
        $("#plan_create").validate(); 
      }); 
</script>