
  <audio id="music" src="" autoplay="autoplay"></audio>
    <div class="header">
    <div height="8" width="100%"><img src="<%=image_path('spacer.gif')%>" width="1" height="8"></div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" background="<%=image_path('index_21.gif')%>">
  </div>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="td_page">
       <%= form_tag("/plans/list/department", :class => 'form-horizontal') do -%>
        <%= hidden_field_tag "department", "1"%>
        任务状态：
        <select name="status" id="status" >
          <option value="1" selected>未完成</option>
          <option value="2" >已完成</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;
      完成时间：<input type="date" id="finish_at"  size="10" value="<%=@view_params[:finish_at]%>"/>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input id="plan_search" type="button"  value="查询">
      <%end%>
    </td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr> 
    <td nowrap class="td_top">ID</td>
    <td nowrap class="td_top">材质</td>
    <td nowrap class="td_top">库位</td>
    <td nowrap class="td_top">钢卷号</td>
    <td nowrap class="td_top">钢卷规格</td>
    <td nowrap class="td_top">卷重</td>
     <td nowrap class="td_top">加工规格</td>
     <td nowrap class="td_top">张数</td>
     <td nowrap class="td_top">工差</td>
     <td nowrap class="td_top">送往单位</td>
     <td nowrap class="td_top">表面件</td>
     <td nowrap class="td_top">备注</td>
     <td nowrap class="td_top">状态</td>
     <td nowrap class="td_top">实际张数</td>
     <td nowrap class="td_top">操作</td>
  </tr>
  <%@plans.each_with_index do|plan, index|%>
    <%if @plans[index-1].tape_merge != @plans[index].tape_merge%>
      <tr><td class="td_01_plan" colspan="15"></td></tr>
    <%end%>
    <tr <%if plan.is_urgency == 1%>style="color:red"<%elsif plan.status == 3%>style="color:green"<%elsif plan.is_append == 1%>style="color:#0000C6"<%end%>> 
        <td class="td_01" id="id"><%=check_box_tag "plan_id", "#{plan.id}_#{plan.nickelclad.thickness}x#{plan.nickelclad.wide}x#{plan.nickelclad.length}_#{plan.tape.residue_weight}"%><%=plan.id%></td>
        <td class="td_01" id="texture">
          <%if index == 0 or @plans[index-1][:tape_id]!=plan.tape_id%><%=plan.tape.texture%><%end%>
        </td>
        <td class="td_01" id="place">
          <%if index == 0 or @plans[index-1][:tape_id]!=plan.tape_id%>
            <%=plan.tape.place%>
          <%end%>
        </td>
        <td class="td_01" id="tape_num">
          <%if index == 0 or @plans[index-1][:tape_id]!=plan.tape_id%>
            <%=plan.tape.tape_num%>
          <%end%>
        </td>
        <td class="td_01" id="size">
          <%if index == 0 or @plans[index-1][:tape_id]!=plan.tape_id%>
            <%=plan.tape.thickness%>x<%=plan.tape.wide%>x<%=plan.tape.length%>
          <%end%>
        </td>
        <td class="td_01" id="weight_count">
          <%=plan.tape.residue_weight%>
        </td>
        <td class="td_01" id="new_size">
          <%if index == 0 or (@plans[index-1].nickelclad.length!=plan.nickelclad.length or @plans[index-1].nickelclad.thickness!=plan.nickelclad.thickness or @plans[index-1].nickelclad.wide!=plan.nickelclad.wide)%>
            <%=plan.nickelclad.thickness%>x<%=plan.nickelclad.wide%>x<%=plan.nickelclad.length%>
          <%end%>
        </td>
        <td class="td_01" id="final_sheet">
          <%=plan.final_sheet%>
        </td>
        <td class="td_01" id="allowance"><%=plan.nickelclad.allowance%></td>
        <td class="td_01" id="distination"><%=plan.nickelclad.to%></td>
        <td class="td_01" id="is_declicacy"><%if plan.nickelclad.is_declicacy == 1%>是<%else%>否<%end%> </td>
        <td class="td_01" id="remark"><%=plan.remark%></td>
        <td class="td_01" id="status">
            <%=@plan_status_name[plan.status]%>
        </td>
        <td class="td_01">
            <%plan.nickelclad.bags.each_with_index do|bag, index|%>
              <%=bag.sheet%>
              <%if index != plan.nickelclad.bags.length-1%>
              +
              <%end%>
            <%end%>
          </td>
        
        <td class="td_01_break" id="exec">
          
          <% if plan.status == 1%>
             <button type="button" class="<%=@plan_status_class[plan.status]%> btn-xs" data-toggle="modal" onclick="up_tape_model(<%=plan.id%>, <%=plan.tape.id%>)">上料</button>
          <%else%>
            <button type="button" class="<%=@plan_status_class[plan.status]%> btn-xs" onclick="update_status(<%=plan.id%>,<%=plan.status+1%>)">
              <%=@plan_status_button[plan.status]%><%if plan.place_num.to_i != 0%>-<%=plan.place_num%><%end%>
            </button>
          <%end%>
          <%if plan.status == 3%>
            <a href="/quclity_checks/new?plan_id=<%=plan.id%>" class="btn btn-info btn-xs" data-toggle="modal">质检</a>
          <%end%>
        
        </td>
    </tr>
  <%end%>     
</table>
<!--up_taep modal start-->
<div id="up_tape" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <form id="up_tape_form" class="form-horizontal" method="post" action="">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">记录钢卷位置</h4>
        </div>
        <div class="modal-body">
          <label class="col-sm-2 control-label">钢卷位置</label>
          <div class="col-sm-2">
            <%= text_field_tag 'place_num',"", :class => "required"%>
            <%= hidden_field_tag "tape_id", ""%>
          </div>
        </div>
        <div class="modal-footer">
        <%= submit_tag '确定', :class => 'btn btn-success'%>
          <a href="/plans/spread/1" class="btn btn-info">返回</a>
        </div>
      </div>
    </div>
  </form>
</div>
<!--up_taep modal end-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td nowrap width="100%" class="td_top"><span style="color:red">注：红色字体为紧急件-请优先处理，蓝色字体为追加件【绿色分割条内计划为同一规格钢卷】</span></td>
  </tr>
</table>

<h5>常规操作</h5>
<hr>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td class="td_01" colspan="8">

      <a href="#myModal" class="btn btn-success btn-xs" data-toggle="modal">原料规格短信通知</a>
      <!-- Modal -->
      <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">选择接收人员</h4>
              </div>
              <div class="modal-body">
                <%@employees.each do|employee|%>
                  <%=radio_button_tag "employee_id", "#{employee.id}"%><%=employee.name%>
                <%end%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
                <button id="size_phone_message" type="button" class="btn btn-primary">发送</button>
              </div>
            </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="td_01" rowspan="1">计划员</td>
     <td class="td_01" >
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" onclick="phone_message(1)">短信通知</button>
    </td>
    <td class="td_01" rowspan="2">质检人员</td>
    <td class="td_01" >
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" onclick="phone_message(5)">短信通知</button>
    </td>
    <td class="td_01" rowspan="2">倪总</td>
    <td class="td_01" >
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" onclick="phone_message(4)">短信通知</button>
    </td>
    <td class="td_01" rowspan="2">余总</td>
    <td class="td_01" >
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" onclick="phone_message(3)">短信通知</button>
    </td>
  </tr>
</table>
<%=javascript_include_tag "spread_kaiping"%>
<script type="text/javascript">
  (function($){
    $.getUrlParam = function(name)
    {
      var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg);
      if (r!=null) return unescape(r[2]); return null;
    }
  })(jQuery);

  var timer = setInterval(function () {
    $.ajax({
        type:"get",
        dataType:"text",
        url: "/plans/spread/status/0?department=1",
        contentType: "application/json; charset=utf-8", 
        success:function(result){
          result = eval("(" + result + ")");
          var count = result.count;
          if(count > 0){
            // play_click();   
            location.href = "/plans/spread/1";        
          };
        }
      });
  },20000);

  $("#plan_search").click(function (){
          var status = $('#status').val()
          var finish_at = $('#finish_at').val()
          location.href = "/plans/spread/1?department=<%=@view_params[:department]%>&history="+status+"&finish_at="+finish_at;
  });
  
</script>
