<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>大章实业自动化办公系统</title>
<%=stylesheet_link_tag "style"%>
<%= javascript_include_tag "tree" %>
<%=javascript_include_tag "jquery"%>
<%=javascript_include_tag "jquery-migrate"%>
<%=javascript_include_tag "jquery.validate"%>
<%=javascript_include_tag "jquery.metadata"%>
<%=javascript_include_tag "messages_cn"%>
<style type="text/css">
body{padding:0;margin:0;}
	.clearfix:after{clear:both;content: ".";display: block;height: 0pt;visibility: hidden;}
	.clearfix {display:inline-block;}
	.clearfix {display:block;}
	.wordBreak {word-wrap:break-word;}
	.fl {float:left;}
	.fr {float:right;}
	.header{height:80px;}
	.content{height:100;}
	/*.leftSide{width:17%;height:100%;background-color:#E6F2FB;}*/
	.leftSide{
		width: 17%;
		background: #E6F2FB;
		height: 100%;
		margin-right: 10px;
		word-wrap:break-word;
		overflow:hidden;
		padding-bottom:100%;
		margin-bottom:-98%;
	}
	.rightSide{width:80%;height:100%;}

</style>
</head>
<body>
	<div class="header">
	 	<table width="100%" border="0" cellpadding="0" cellspacing="0" background="<%=image_path('index_02.gif')%>">
		  <tr height="36px">
		    <td class="F002" width="280px">&nbsp;&nbsp;&nbsp;大章实业自动化办公系统</td>
		    <td>
			   		<marquee style="color:#AE0000;font-size: 18px;" onmouseout="this.start()">
				        勤勉&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				        和合&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				        创造&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    </marquee>
			</td>
		  </tr>
		</table>
		<div height="8" width="100%"><img src="<%=image_path('spacer.gif')%>" width="1" height="8"></div>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" background="<%=image_path('index_21.gif')%>">
		<form name="form1" method="post" action="">
		  <tr>
		    <td width="20" height="30">&nbsp;</td>
		    <td class="F02"><img src="<%=image_path('index_23.gif')%>" width="26" height="30" align="absmiddle">
		    	<%if user_signed_in?%>
		    		<%= current_user[:username]%> 您好！
		    		<%= link_to "退出", destroy_user_session_path%>
		    	<%else%>
		    		<%= link_to "登录", new_user_session_path%>
		    	<%end%>
		    </td>
		    <td align="right" class="F02"><a href="online/online.html" target="mainFrame" class="a01">当前在线</a> ｜ <a href="schedule/index.htm" target="mainFrame" class="a01">日程安排</a> ｜ <a href="grdingzhi/index1.htm" target="mainFrame" class="a01">个人定制</a> ｜ <a href="../html/collection/PersonalCollection.html" target="mainFrame" class="a01">个人收藏夹</a>｜ <a href="../html/message/message.htm" target="mainFrame" class="a01">站内消息[2]</a>
		    <td width="14" class="F02"></td>
		  </tr>
		</form>
		</table>
	</div>
	<div class="clearfix content">
		 <div class="fl leftSide">
		 	<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
			  <tr>
			    <td align="center" valign="top" class="td03">
			      <table width="90%" border="0" cellspacing="0" cellpadding="0">
			        <tr>
			          <td height="25" class="F01"><p><img src="<%=image_path("index_35.gif")%>" width="12" height="16" align="absmiddle"><strong>大章实业自动化管理系统</strong></p>
			          </td>
			        </tr>
			        <tr>
			          <td height="2" background="<%=image_path("index_39.gif")%>"><img src="<%=image_path("spacer.gif")%>" width="1" height="1"></td>
			        </tr>
			      </table>
			        <table width="90%" border="0" cellpadding="0" cellspacing="0" class="td01">
			          <tr>
			            <td width="12">&nbsp;</td>
			            <td width="628">
			            	<br><img src="<%=image_path("spacer.gif")%>" width="1" height="1"><img src="<%=image_path("index_35.gif")%>" width="12" height="16" align="absmiddle"><strong>快速通道</strong>
			          <tr>
			            <td background="<%=image_path("index_41.gif")%>">&nbsp;&nbsp;</td>
			            <td>
			            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			              <tr>
			                <td>
			                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			                        <tr>
			                          <td width="19"><img id="top_3" onClick="menu('menu_1','top_3');" src="<%=image_path("tree_11.gif")%>" width="19" height="20"></td>
			                          <td width="19"><img src="<%=image_path("tree_27.gif")%>" width="19" height="20"></td>
			                          <td nowrap>库存管理</td>
			                        </tr>
			                      </table>
								  <div id="menu_1" <%if user_session[:menu].to_i != 1%>style="DISPLAY: none"<%else%>style="DISPLAY: block"<%end%>>
								  <table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="/tapes?menu=1" class="a03">钢卷</a></td>
									  </tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="../html/worktime/leavelist_1.htm" target="mainFrame" class="a03">钢板</a></td>
									  </tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="../html/worktime/leavelist_2.htm" target="mainFrame" class="a03">热板</a></td>
									  </tr>
									</table>
									
													</div>
							  
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
			                        <tr>
			                          <td width="19"><img id="top_3" onClick="menu('menu_3','top_3');" src="<%=image_path("tree_11.gif")%>" width="19" height="20"></td>
			                          <td width="19"><img src="<%=image_path("tree_27.gif")%>" width="19" height="20"></td>
			                          <td nowrap>计划任务</td>
			                        </tr>
			                      </table>
								  <div id="menu_3" <%if user_session[:menu].to_i != 3%>style="DISPLAY: none"<%else%>style="DISPLAY: block"<%end%>>
								  <table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="/plans?menu=3" class="a03">开平组</a></td>
									  </tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="../html/worktime/leavelist_1.htm" target="mainFrame" class="a03">剪切组</a></td>
									  </tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="../html/worktime/leavelist_2.htm" target="mainFrame" class="a03">热板</a></td>
									  </tr>
									</table>
									
													</div>
			                      
			                      
			                      
			                      
								  
								  <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                        <tr>
			                          <td width="19"><img id="top_7" onClick="menu('menu_7','top_7');" src="<%=image_path("tree_11.gif")%>" width="19" height="20"></td>
			                          <td width="19"><img src="<%=image_path("tree_27.gif")%>" width="19" height="20"></td>
			                          <td nowrap>人事管理</td>
			                        </tr>
			                      </table>
			                      
							  <div id="menu_7" <%if user_session[:menu].to_i != 7%>style="DISPLAY: none"<%else%>style="DISPLAY: block"<%end%>>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="/departments?menu=7"  class="a03">部门管理</td>
									  </tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
										<td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
										<td nowrap><a href="/employees?menu=7" class="a03">人员管理</td>
									  </tr>
									</table>

							  </div>
							  
			                     
			                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                       <tr>
			                         <td width="19"><img id="top_12" onClick="menu('menu_12','top_12');" src="<%=image_path("tree_11.gif")%>" width="19" height="20"></td>
			                         <td width="19"><img src="<%=image_path("tree_27.gif")%>" width="19" height="20"></td>
			                         <td nowrap>工作流程</td>
			                       </tr>
			                     </table>
			                     <div id="menu_12" <%if user_session[:menu].to_i != 12%>style="DISPLAY: none"<%else%>style="DISPLAY: block"<%end%>>
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap><a href="/messages?type=1&menu=12" class="a03">待办事项</a></td>
			                         </tr>
			                       </table>
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_23.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap><a href="/messages?type=2&menu=12" class="a03">提醒信息</a></td>
			                         </tr>
			                       </table>
			                </div>
			                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                       <tr>
			                         <td width="19"><img id="top_13" onClick="bottom('menu_13','top_13');" src="<%=image_path("tree_29.gif")%>" width="19" height="20"></td>
			                         <td width="19"><img src="<%=image_path("tree_27.gif")%>" width="19" height="20"></td>
			                         <td nowrap>系统管理</td>
			                       </tr>
			                     </table>
			                     <div id="menu_13" <%if user_session[:menu].to_i != 13%>style="DISPLAY: none"<%else%>style="DISPLAY: block"<%end%>>
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19">&nbsp;</td>
			                           <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap><a href="/employees/sys/users/list?menu=13" class="a03">系统用户</a></td>
			                         </tr>
			                       </table>
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19">&nbsp;</td>
			                           <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap><a href="/roles?menu=13" class="a03">角色管理</a></td>
			                         </tr>
			                       </table>
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19">&nbsp;</td>
			                           <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap><a href="/powers?menu=13" class="a03">权限管理</a></td>
			                         </tr>
			                       </table>
			                       
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19">&nbsp;</td>
			                           <td width="19"><img id="top_15" onClick="menu('menu_15','top_15');" src="<%=image_path("tree_11.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap>日志管理</td>
			                         </tr>
			                       </table>
			                       <div id="menu_15" style="DISPLAY: none">
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/sys/log/operate-index.htm" target="mainFrame" class="a03">操作日志</a></td>
			                           </tr>
			                         </table>
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_06.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/sys/log/login-index.htm" target="mainFrame" class="a03">登录日志</a></td>
			                           </tr>
			                         </table>
			    
			                       </div>
			                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                         <tr>
			                           <td width="19">&nbsp;</td>
			                           <td width="19"><img id="top_16" onClick="bottom('menu_16','top_16');" src="<%=image_path("tree_29.gif")%>" width="19" height="20"></td>
			                           <td width="19"><img src="<%=image_path("tree_08.gif")%>" width="19" height="20"></td>
			                           <td nowrap>流程定义</td>
			                         </tr>
			                       </table>
			                       <div id="menu_16" style="DISPLAY: none">
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/workflow/design/processTypeList.htm" target="mainFrame" class="a03">流程类别列表</a></td>
			                           </tr>
			                         </table>
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/workflow/design/processList.htm" target="mainFrame" class="a03">流程列表</a></td>
			                           </tr>
			                         </table>
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/workflow/design/functionTypeList.htm" target="mainFrame" class="a03">功能类别列表</a></td>
			                           </tr>
			                         </table>
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_07.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/workflow/design/functionList.htm" target="mainFrame" class="a03">功能列表</a></td>
			                           </tr>
			                         </table>
			                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                           <tr>
			                             <td width="19">&nbsp;</td>
			                             <td width="19">&nbsp;</td>
			                             <td width="19"><img src="<%=image_path("tree_23.gif")%>" width="19" height="20"></td>
			                             <td width="19"><img src="<%=image_path("tree_14.gif")%>" width="19" height="20"></td>
			                             <td nowrap><a href="../html/workflow/design/attachmentTypeList.htm" target="mainFrame" class="a03">附件类别列表</a></td>
			                           </tr>
			                         </table>
			                       </div>
			                </div></td>
			              </tr>
			            </table></td>
			            <td width="67" background="<%=image_path("index_43.gif")%>">&nbsp;</td>
			          </tr>
			          <tr>
			            <td><img src="<%=image_path("index_50.gif")%>" width="12" height="12"></td>
			            <td background="<%=image_path("index_51.gif")%>"><img src="<%=image_path("spacer.gif")%>" width="1" height="1"></td>
			            <td><img src="<%=image_path("index_53.gif")%>" width="12" height="12"></td>
			          </tr>
			      </table>
			        <br>
			    </td>
			  </tr>
			</table>

		 </div>
		 <div class="fl rightSide">
		 	<%=yield%>
		 </div>
	</div>
</body>
</html>